*.DS_Store
.idea
*.pyc
example.py
build/
dist/
*.egg-info/
*.rst
venv/
*log.txt
cbpro/__pycache__/
.cache/
.coverage
tests/__pycache__/
.pytest_cache

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/